/*Configurações básicas*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-tamanho-logo: 25px;
    --fonte-tamanho-menu-telas-g: 25px;
    --fonte-tamanho-menu-telas-m: 18px;
    --fonte-tamanho-titulo-um-telas-g-m: 50px;
    --fonte-tamanho-titulo-um-telas-p: 40px;
    --fonte-tamanho-titulo-dois-telas-g-m: 25px;
    --fonte-tamanho-titulo-dois-telas-p: 20px;
    --fonte-tamanho-titulo-tres-telas-g-m: 30px;
    --fonte-tamanho-titulo-tres-telas-p: 25px;
    --fonte-tamanho-paragrafo-um-telas-g-m: 25px;
    --fonte-tamanho-paragrafo-um-telas-p: 20px;
    --fonte-tamanho-paragrafo-dois-telas-g-m: 20px;
    --fonte-tamanho-paragrafo-dois-telas-p: 16px;
    --cor-verde-um: #16B978;
    --cor-verde-dois: #016740;
    --cor-amarela: #FFDC23;
    --cor-azul: #071A51;
    --cor-branca: #FFFFFF;
}

/*Regras CSS que compartilham o mesmo comportamento em todos tamanho de tela*/
@keyframes shake {
    0%{
        transform:translateX(0px);
    }
    25%{
        transform:translateX(5px);
    }
    50%{
        transform:translateX(0px);
    }
    75%{
        transform:translateX(-5px);
    }
    100%{
        transform: translateX(0px);
    }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    transition: 350ms ease-in;
}
.fdp{
    display: none;
}

/*Menu*/

.logo-text{
    color: var(--cor-verde-dois);
    text-transform: capitalize;
}

/*Hero Row*/
#button-hero-row{
    background-color: var(--cor-verde-um);
    color: var(--cor-branca);
    border: none;
    animation-name: shake;
    animation: shake 1.5s ease-in-out infinite;
    animation-delay: 0.5s;
    cursor: pointer;
}
#button-hero-row:hover{
    background-color: var(--cor-amarela);
    color: var(--cor-azul);
}
/*Produtos row*/
.box-style-products{
    background-image: url('../assets/circulo_verde.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
@media (max-width: 700px) {
    /*Regras que são aplicadas em mais de um elemeto*/
    .padding-30{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .padding-bottom-30{
        padding-bottom: 30px;
    }
    .margin-bottom-30{
        margin-bottom: 30px;
    }
    .blue{
        color: var(--cor-azul);
    }
    .big-text{
        font-size: var(--fonte-tamanho-titulo-um-telas-p);
        font-weight: 700;
    }
    .button-subtititles-text{
        font-size: var(--fonte-tamanho-titulo-tres-telas-p);
        font-weight: 600;
    }
    .medium-text{
        font-size: var(--fonte-tamanho-paragrafo-dois-telas-g-m);
    }
    .small-text{
        font-size: var(--fonte-tamanho-paragrafo-dois-telas-p);
    }
    .lateral-space{
        margin: 0 5%;
    }
    .italic{
        font-style: italic;
    }
    .center{
        text-align: center;
    }
    /*Regras do menu*/
    .logo-flex-box{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--cor-amarela);
        padding: 5px;
    }
    .logo-img{
        height: 46px;
        width: 55px;
        object-fit: cover;
    }
    .logo-text{
       font-size: var(--fonte-tamanho-logo);
    }
    #nav-menu{
        display: none;
    }
    /*Regras da hero row*/
    #button-hero-row{
        width: 100%;
        padding: 10px;
        border-radius: 10px;
    }
    #img-hero-row{
        max-width: 100%;
    }
    /*Regras produtos row*/
    #produtos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box-style-products{
        width: 340px;
        height: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .caixa-texto{
        padding: 0 15%;
    }
    /*Regras CSS nossa história*/
    #nossa_história_texto{
        line-height: 30px;
    }
}