/*Configurações básicas*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root{
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-tamanho-logo: 25px;
    --fonte-tamanho-menu-telas-g: 25px;
    --fonte-tamanho-menu-telas-m: 18px;
    --fonte-tamanho-titulo-um-telas-g-m: 50px;
    --fonte-tamanho-titulo-um-telas-p: 40px;
    --fonte-tamanho-titulo-dois-telas-g-m: 25px;
    --fonte-tamanho-titulo-dois-telas-p: 20px;
    --fonte-tamanho-titulo-tres-telas-g-m: 30px;
    --fonte-tamanho-titulo-tres-telas-p: 25px;
    --fonte-tamanho-paragrafo-um-telas-g-m: 25px;
    --fonte-tamanho-paragrafo-um-telas-p: 20px;
    --fonte-tamanho-paragrafo-dois-telas-g-m: 25px;
    --fonte-tamanho-paragrafo-dois-telas-p: 16px;
    --cor-verde-um: #16B978;
    --cor-verde-dois: #016740;
    --cor-amarela: #FFDC23;
    --cor-azul: #071A51;
    --cor-branca: #FFFFFF;
    --cor-preta: #101010;
}

/*Regras CSS que compartilham o mesmo comportamento em todos tamanho de tela*/
@keyframes shake {
    0%{
        transform:translateX(0px);
    }
    25%{
        transform:translateX(5px);
    }
    50%{
        transform:translateX(0px);
    }
    75%{
        transform:translateX(-5px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes caixa-aviso {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    scroll-behavior: smooth;
}
.blue{
        color: var(--cor-azul);
    }
.italic{
    font-style: italic;
}
.center{
    text-align: center;
}
.logo-img{
    height: 46px;
    width: 55px;
    object-fit: cover;
}
.logo-img-footer{
    height: 46px;
    width: 55px;
    object-fit: cover;
}
/*Menu*/

.logo-text{
    color: var(--cor-verde-dois);
    text-transform: capitalize;
    font-weight: 700;
}
#aviso{
    position: absolute;
    transform: translate(-50%, -50%);
    height: 75vw;
    width: 75vw;
    padding: 5vw;
    background-color: red;
    border-radius: 1vw;
    color: rgb(0, 0, 0);
    text-align: center;
    opacity: 0%;
    animation-name: caixa-aviso;
    animation-duration: 7s;
}

/*Hero Row*/
#button-hero-row{
    background-color: var(--cor-verde-um);
    color: var(--cor-branca);
    border: none;
    animation-name: shake;
    animation: shake 1.5s ease-in-out infinite;
    animation-delay: 0.5s;
    cursor: pointer;
}
#button-hero-row:hover{
    background-color: var(--cor-amarela);
    color: var(--cor-azul);
}
/*Produtos row*/
.box-style-products{
    background-image: url('../assets/circulo_verde.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
@media (max-width: 700px) {
    #aviso{
        left: 50%;
        top: 40%;
        font-size: 5vw;
    }
    /*Regras que são aplicadas em mais de um elemeto*/
    .padding {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .padding-bottom {
        padding-bottom: 30px;
    }
    .margin {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .margin-bottom {
        margin-bottom: 30px;
    }
    .big-text{
        font-size: var(--fonte-tamanho-titulo-um-telas-p);
        font-weight: 700;
    }
    .button-subtititles-text{
        font-size: var(--fonte-tamanho-titulo-tres-telas-p);
        font-weight: 600;
    }
    .medium-text{
        font-size: var(--fonte-tamanho-paragrafo-um-telas-p);
    }
    .small-text{
        font-size: var(--fonte-tamanho-paragrafo-dois-telas-p);
    }
    .lateral-space{
        margin: 0 5%;
    }
    /*Regras do menu*/
    .logo-flex-box{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--cor-amarela);
        padding: 5px;
    }
    .logo-text{
       font-size: var(--fonte-tamanho-logo);
    }
    #nav-menu{
        display: none;
    }
    /*Regras da hero row*/
    #button-hero-row{
        width: 100%;
        padding: 10px;
        border-radius: 10px;
    }
    #img-hero-row{
        max-width: 100%;
    }
    /*Regras produtos row*/
    #produtos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box-style-products{
        width: 340px;
        height: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .caixa-texto{
        padding: 0 15%;
    }
    /*Regras CSS nossa história*/
    #nossa_história_texto{
        line-height: 30px;
    }
    #foto_casal_fazendeiros{
        max-width: 100%;
        border-radius: 10px;
    }
    /*Regras CSS visite-nos*/
    .titulo_visite_nos{
        display: block;
        font-weight: 700;
    }
    .icone_verde{
        color: var(--cor-verde-um);
        width: 40px;
        height: 40px; 
    }
    /*Regras CSS footer*/
    #footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--cor-amarela);
    }
}
@media (min-width: 701px) {
    #aviso{
        left: 50%;
        top: 50%;
        height: 50vw;
        width: 50vw;
        font-size: 3vw;
    }
    /*Regras que são aplicadas em mais de um elemeto*/
    .padding {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .padding-top {
        padding-top: 30px;
    }
    .padding-bottom {
        padding-bottom: 30px;
    }
    .margin {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .margin-bottom {
        margin-bottom: 30px;
    }
    .big-text{
        font-size: var(--fonte-tamanho-titulo-um-telas-g-m);
        font-weight: 700;
    }
    .button-subtititles-text{
        font-size: var(--fonte-tamanho-titulo-tres-telas-g-m);
        font-weight: 600;
    }
    .medium-text{
        font-size: var(--fonte-tamanho-paragrafo-dois-telas-g-m);
    }
    .small-text{
        font-size: var(--fonte-tamanho-paragrafo-um-telas-p);
    }
    .lateral-space{
        margin: 0 7%;
    }
    /*Regras do menu*/
    #nav-flex-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 7%;
    }
    .logo-flex-box{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
    .logo-img{
        display: none;
    }
    .logo-img-footer{
        height: 46px;
        width: 55px;
        object-fit: cover;
    }
    .logo-text{
       font-size: var(--fonte-tamanho-logo);
       line-height: 25px;
    }
    #nav-menu{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
    }
    .list-itens{
        text-decoration: none;
        list-style: none;
        color: var(--cor-preta);
        font-size: var(--fonte-tamanho-menu-telas-m);
        font-weight: 500;
    }
    .list-itens:hover{
        border-bottom: 5px solid var(--cor-amarela);

    }
    .break-point{
        display: block;
    }
    /*Regras da hero row*/
    #button-hero-row{
        width: 100%;
        padding: 10px;
        border-radius: 15px;
    }
    #img-hero-row{
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*Regras produtos row*/
    #produtos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box-style-products{
        width: 450px;
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .caixa-texto{
        padding: 0 10%;
    }
    /*Regras CSS nossa história*/
    #nossa_história{
        text-align: center;
    }
    #nossa_história_texto{
        line-height: 30px;
    }
    #foto_casal_fazendeiros{
        max-width: 100%;
        height: 385px;
        border-radius: 500px;
    }
    /*Regras CSS visite-nos*/
    .titulo_visite_nos{
        display: block;
        font-weight: 700;
    }
    .icone_verde{
        color: var(--cor-verde-um);
        width: 40px;
        height: 40px; 
    }
    /*Regras CSS footer*/
    #footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--cor-amarela);
    }
}
@media (min-width: 1000px) {
    #aviso{
        left: 50%;
        top: 50%;
        height: 30vw;
        width: 30vw;
        font-size: 1.7vw;
    }
    /*Regras que são aplicadas em mais de um elemeto*/
    .margin {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .text-block{
        width: 60%;
        text-align: start;
    }
    .caixa-flex-g{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    /*Regras do menu*/
    .logo-img{
        display: inline-block;
    }
    #nav-menu{
        width: 60%;
    }
    /*Regras da hero row*/
    #green-background{
        background: linear-gradient(135deg, rgba(217, 217, 217, 0.00) 65.46%, var(--cor-verde-um) 65.58%);
   }
   #button-hero-row{
        width: 50%;
   }
   /*Regras produtos row*/
   #caixa-flex-produtos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 95vw;
   }
   .box-style-products{
        width: 400px;
        height: 400px;
    }
    #visite_nos{
        margin: 0 7%;
    }
}